In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("../../data/data.csv")

In [3]:
data.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [17]:
X = data.iloc[:,:-1].values
Y = data.iloc[:,-1].values

array([ 409.1,  479. ,  340. ,  282.4,  406. ,  300. ,  374. ,  253.3,
        195.1,  269. ,  329.3,  250.7,  345.3,  379.3,  275. ,  215.2,
        300. ,    nan,  323. ,  243. ,  364.2,  282. ,  300. ,  246. ,
        334.5,  250. ,  241. ,    nan,  280. ,  380.3,  243. ,  180.1,
        299. ,  223. ,  361. ,  415. ,  300. ,  300. ,  300. ,  266. ,
        180.1,  286. ,  329.4,  400. ,  397. ,  273. ,  387.6,  300. ,
        298. ,  397.6,  380.2,  643.1,  263. ,  486. ,  238. ,  450.7,
        413. ,  305. ,  226.4,  321. , 1376. , 1034.4,  853. ,  341. ,
        131.4,  800.4,  873.4,  816. ,  110.4, 1500.2, 1115. ,  387.6,
        700. ,  953.2,  304. ,  563.2,  251. ,  300. ,  500.4, 1729. ,
        319.2,  344. ,  151.1,  500. ,  225.3,  300. ,  234. , 1000.1,
        242. ,   50.3,  600.1,    nan,  105.3,   50.5,  127.4,  229.4,
        128.2,  244.2,  188.2,  604.1,   77.7,  500. ,  500. ,  500.4,
         92.7,  124. ,  800.3,   86.2,  500.3, 1860.4,  325.2,  275. ,
        124.2,  225.3,  367.6,  351.7,  443. ,  277.4,    nan,  332.7,
        193.9,  100.7,  336.7,  344.9,  368.5,  271. ,  275.3,  382. ,
        466.4,  384. ,  342.5,  357.5,  335. ,  327.5,  339. ,  189. ,
        317.7,  318. ,  308. ,  222.4,  390. ,    nan,  250.4,  335.4,
        470.2,  270.8,  400. ,  361.9,  185. ,  409.4,  343. ,  353.2,
        374. ,  275.8,  328. ,  368.5,  270.4,  270.4,  382.8,  240.9,
        250.4,  260.4,  270. ,  280.9,  290.8,  300. ,  310.2,  320.4,
        330.4])