# Binning

In [1]:
import pandas as pd

In [2]:
ages = [12, 17, 24, 36, 42, 55, 67]
bins = [0, 18, 35, 60, 100]
labels = ['Teen', 'Young Adult', 'Adult', 'Senior']

In [3]:
df = pd.DataFrame({'ages':ages})
df["Age_Group"] = pd.cut(df['ages'],bins=bins,labels=labels)

In [4]:
df

   ages    Age_Group
0    12         Teen
1    17         Teen
2    24  Young Adult
3    36        Adult
4    42        Adult
5    55        Adult
6    67       Senior

# Scrubbing